$primary: #ffd333;
$secondary: #f5f5f5;
$light: #ffffff;
$dark: #3d464d;
$blur: #cfcfcf;

$font-family-sans-serif: 'Roboto', sans-serif;

$body-bg: $secondary;

$body-color: #6c757d;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

$btn-focus-box-shadow: none;

$btn-active-box-shadow: none;

$input-btn-focus-box-shadow: none;

$input-placeholder-color: #999999;
